registry = https://registry.npmmirror.com
sass_binary_site=http://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=http://npm.taobao.org/mirrors/phantomjs
CHROMEDRIVER_CDNURL=http://npm.taobao.org/mirrors/chromedriver
electron_mirror=http://npm.taobao.org/mirrors/electron/
fsevents_binary_host_mirror=http://npm.taobao.org/mirrors/fsevents/
